In [1]:
import pandas as pd
import ML.build as b
from sklearn import *

/Users/mcapizzi/miniconda3/envs/fpl/lib/python3.6/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
/Users/mcapizzi/miniconda3/envs/fpl/lib/python3.6/site-packages/sklearn/grid_search.py:43: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)
/Users/mcapizzi/miniconda3/envs/fpl/lib/python3.6/site-packages/sklearn/lda.py:6: DeprecationWarning: lda.LDA has been moved to discriminant_analysis.LinearDiscriminantAnalysis in 0.17 and will be removed in 0.19
  "in 0.17 and will be removed in 0.19", DeprecationWarning)
/Users/mcapizzi/miniconda3/envs/fpl/lib/python3.6/site-packages/sklearn/learning_curve.py:23: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the functions are moved. This module will be removed in 0.20
  DeprecationWarning)
/Users/mcapizzi/miniconda3/envs/fpl/lib/python3.6/site-packages/sklearn/qda.py:6: DeprecationWarning: qda.QDA has been moved to discriminant_analysis.QuadraticDiscriminantAnalysis in 0.17 and will be removed in 0.19.
  "in 0.17 and will be removed in 0.19.", DeprecationWarning)

In [2]:
df = pd.read_csv("data_04_30.csv")
df.shape

(21248, 61)

In [3]:
df.head()

,Unnamed: 0,gw_id,player_id,last_name,first_name,team,team_code,id,kickoff_time,kickoff_time_formatted,...,errors_leading_to_goal,errors_leading_to_goal_attempt,tackled,offside,target_missed,fouls,dribbles,element,fixture,opponent_team
0,0,1.0,1.0,Ospina,David,ARS,3.0,1.0,2016-08-14T15:00:00Z,14 Aug 16:00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,8.0,9.0
1,1,526.0,1.0,Ospina,David,ARS,3.0,526.0,2016-08-20T16:30:00Z,20 Aug 17:30,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,13.0,8.0
2,2,1066.0,1.0,Ospina,David,ARS,3.0,1066.0,2016-08-27T14:00:00Z,27 Aug 15:00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,28.0,18.0
3,3,1616.0,1.0,Ospina,David,ARS,3.0,1616.0,2016-09-10T14:00:00Z,10 Sep 15:00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,31.0,13.0
4,4,2197.0,1.0,Ospina,David,ARS,3.0,2197.0,2016-09-17T14:00:00Z,17 Sep 15:00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,43.0,7.0

In [4]:
df.columns

Index(['Unnamed: 0', 'gw_id', 'player_id', 'last_name', 'first_name', 'team',
       'team_code', 'id', 'kickoff_time', 'kickoff_time_formatted',
       'team_h_score', 'team_a_score', 'was_home', 'round', 'total_points',
       'value', 'transfers_balance', 'selected', 'transfers_in',
       'transfers_out', 'loaned_in', 'loaned_out', 'minutes', 'goals_scored',
       'assists', 'clean_sheets', 'goals_conceded', 'own_goals',
       'penalties_saved', 'penalties_missed', 'yellow_cards', 'red_cards',
       'saves', 'bonus', 'bps', 'influence', 'creativity', 'threat',
       'ict_index', 'ea_index', 'open_play_crosses', 'big_chances_created',
       'clearances_blocks_interceptions', 'recoveries', 'key_passes',
       'tackles', 'winning_goals', 'attempted_passes', 'completed_passes',
       'penalties_conceded', 'big_chances_missed', 'errors_leading_to_goal',
       'errors_leading_to_goal_attempt', 'tackled', 'offside', 'target_missed',
       'fouls', 'dribbles', 'element', 'fixture', 'opponent_team'],
      dtype='object')

In [11]:
df.select_dtypes(exclude=["floating"])

,Unnamed: 0,last_name,first_name,team,kickoff_time,kickoff_time_formatted,was_home
0,0,Ospina,David,ARS,2016-08-14T15:00:00Z,14 Aug 16:00,True
1,1,Ospina,David,ARS,2016-08-20T16:30:00Z,20 Aug 17:30,False
2,2,Ospina,David,ARS,2016-08-27T14:00:00Z,27 Aug 15:00,False
3,3,Ospina,David,ARS,2016-09-10T14:00:00Z,10 Sep 15:00,True
4,4,Ospina,David,ARS,2016-09-17T14:00:00Z,17 Sep 15:00,False
5,5,Ospina,David,ARS,2016-09-24T16:30:00Z,24 Sep 17:30,True
6,6,Ospina,David,ARS,2016-10-02T15:30:00Z,02 Oct 16:30,False
7,7,Ospina,David,ARS,2016-10-15T14:00:00Z,15 Oct 15:00,True
8,8,Ospina,David,ARS,2016-10-22T14:00:00Z,22 Oct 15:00,True
9,9,Ospina,David,ARS,2016-10-29T11:30:00Z,29 Oct 12:30,False
10,10,Ospina,David,ARS,2016-11-06T12:00:00Z,06 Nov 12:00,True
11,11,Ospina,David,ARS,2016-11-19T12:30:00Z,19 Nov 12:30,False
12,12,Ospina,David,ARS,2016-11-27T14:15:00Z,27 Nov 14:15,True
13,13,Ospina,David,ARS,2016-12-03T17:30:00Z,03 Dec 17:30,False
14,14,Ospina,David,ARS,2016-12-10T15:00:00Z,10 Dec 15:00,True
15,15,Ospina,David,ARS,2016-12-13T19:45:00Z,13 Dec 19:45,False
16,16,Ospina,David,ARS,2016-12-18T16:00:00Z,18 Dec 16:00,False
17,17,Ospina,David,ARS,2016-12-26T15:00:00Z,26 Dec 15:00,True
18,18,Ospina,David,ARS,2017-01-01T16:00:00Z,01 Jan 16:00,True
19,19,Ospina,David,ARS,2017-01-03T19:45:00Z,03 Jan 19:45,False
20,20,Ospina,David,ARS,2017-01-14T15:00:00Z,14 Jan 15:00,False
21,21,Ospina,David,ARS,2017-01-22T14:15:00Z,22 Jan 14:15,True
22,22,Ospina,David,ARS,2017-01-31T19:45:00Z,31 Jan 19:45,True
23,23,Ospina,David,ARS,2017-02-04T12:30:00Z,04 Feb 12:30,False
24,24,Ospina,David,ARS,2017-02-11T12:30:00Z,11 Feb 12:30,True
25,25,Ospina,David,ARS,2017-03-04T17:30:00Z,04 Mar 17:30,False
26,26,Ospina,David,ARS,2017-03-18T12:30:00Z,18 Mar 12:30,False
27,27,Ospina,David,ARS,2017-04-02T15:00:00Z,02 Apr 16:00,True
28,28,Ospina,David,ARS,2017-04-05T18:45:00Z,05 Apr 19:45,True
29,29,Ospina,David,ARS,2017-04-10T19:00:00Z,10 Apr 20:00,False
...,...,...,...,...,...,...,...
21218,21218,Williams,Joe,EVE,2017-04-22T14:00:00Z,22 Apr 15:00,False
21219,21219,Williams,Joe,EVE,2017-04-30T13:05:00Z,30 Apr 14:05,True
21220,21220,Pereira,Dion,WAT,2017-04-04T18:45:00Z,04 Apr 19:45,True
21221,21221,Pereira,Dion,WAT,2017-04-08T11:30:00Z,08 Apr 12:30,False
21222,21222,Pereira,Dion,WAT,2017-04-15T14:00:00Z,15 Apr 15:00,True
21223,21223,Pereira,Dion,WAT,2017-04-22T14:00:00Z,22 Apr 15:00,False
21224,21224,Pereira,Dion,WAT,2017-05-01T19:00:00Z,01 May 20:00,True
21225,21225,Macey,Matt,ARS,2017-04-05T18:45:00Z,05 Apr 19:45,True
21226,21226,Macey,Matt,ARS,2017-04-10T19:00:00Z,10 Apr 20:00,False
21227,21227,Macey,Matt,ARS,2017-04-17T19:00:00Z,17 Apr 20:00,False
21228,21228,Macey,Matt,ARS,2017-04-26T18:45:00Z,26 Apr 19:45,True
21229,21229,Macey,Matt,ARS,2017-04-30T15:30:00Z,30 Apr 16:30,False
21230,21230,Husband,James,MID,2017-04-05T18:45:00Z,05 Apr 19:45,False
21231,21231,Husband,James,MID,2017-04-08T14:00:00Z,08 Apr 15:00,True
21232,21232,Husband,James,MID,2017-04-17T19:00:00Z,17 Apr 20:00,True
21233,21233,Husband,James,MID,2017-04-22T14:00:00Z,22 Apr 15:00,False
21234,21234,Husband,James,MID,2017-04-26T18:45:00Z,26 Apr 19:45,True
21235,21235,Husband,James,MID,2017-04-30T13:05:00Z,30 Apr 14:05,True
21236,21236,Castro Pereira,Joel Dinis,MUN,2017-04-09T12:30:00Z,09 Apr 13:30,False
21237,21237,Castro Pereira,Joel Dinis,MUN,2017-04-16T15:00:00Z,16 Apr 16:00,True
21238,21238,Castro Pereira,Joel Dinis,MUN,2017-04-23T13:15:00Z,23 Apr 14:15,False
21239,21239,Castro Pereira,Joel Dinis,MUN,2017-04-27T19:00:00Z,27 Apr 20:00,False
21240,21240,Castro Pereira,Joel Dinis,MUN,2017-04-30T11:00:00Z,30 Apr 12:00,True
21241,21241,Dos Reis Carvalho,Eduardo,CHE,2017-04-16T15:00:00Z,16 Apr 16:00,False
21242,21242,Dos Reis Carvalho,Eduardo,CHE,2017-04-25T18:45:00Z,25 Apr 19:45,True
21243,21243,Dos Reis Carvalho,Eduardo,CHE,2017-04-30T13:05:00Z,30 Apr 14:05,False
21244,21244,Makasi,Moses,WHU,2017-04-22T14:00:00Z,22 Apr 15:00,True
21245,21245,Makasi,Moses,WHU,2017-04-29T14:00:00Z,29 Apr 15:00,False
21246,21246,Holland,Nathan,WHU,2017-04-22T14:00:00Z,22 Apr 15:00,True
21247,21247,Holland,Nathan,WHU,2017-04-29T14:00:00Z,29 Apr 15:00,False